Reading Data from different Sources

In [5]:
import pandas as pd
from io import StringIO

Data = """
{
  "employee_name": "James",
  "email": "deepak@gmail.com",
  "job_profile": [
    {
      "title1": "TeamLead",
      "title2": "Sr.Developer"
    }
  ]
}
"""
df=pd.read_json(StringIO(Data))

In [6]:
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"deepak@gmail.com"},"job_profile":{"0":{"title1":"TeamLead","title2":"Sr.Developer"}}}'

In [7]:
df.to_json(orient='index')

'{"0":{"employee_name":"James","email":"deepak@gmail.com","job_profile":{"title1":"TeamLead","title2":"Sr.Developer"}}}'

In [8]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"deepak@gmail.com","job_profile":{"title1":"TeamLead","title2":"Sr.Developer"}}]'

In [15]:
##
df=pd.read_csv("WineQT.csv")

In [16]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,1
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,2
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,3
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,4

In [17]:
df.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,Id
1138,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6,1592
1139,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,1593
1140,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5,1594
1141,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6,1595
1142,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5,1597

In [19]:
df.to_csv("WineQT.csv")

In [20]:
!pip install lxml

Collecting lxml
  Downloading lxml-6.0.2-cp312-cp312-win_amd64.whl.metadata (3.7 kB)
Downloading lxml-6.0.2-cp312-cp312-win_amd64.whl (4.0 MB)
   ---------------------------------------- 0.0/4.0 MB ? eta -:--:--
   ---------- ----------------------------- 1.0/4.0 MB 8.4 MB/s eta 0:00:01
   ----------------------- ---------------- 2.4/4.0 MB 7.4 MB/s eta 0:00:01
   --------------------------------- ------ 3.4/4.0 MB 6.5 MB/s eta 0:00:01
   ---------------------------------------- 4.0/4.0 MB 6.3 MB/s  0:00:00
Installing collected packages: lxml
Successfully installed lxml-6.0.2

In [21]:
!pip install html5lib

Collecting html5lib
  Downloading html5lib-1.1-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: six>=1.9 in c:\data_science_ml_nlp\dsvenv\lib\site-packages (from html5lib) (1.17.0)
Collecting webencodings (from html5lib)
  Using cached webencodings-0.5.1-py2.py3-none-any.whl.metadata (2.1 kB)
Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Installing collected packages: webencodings, html5lib

   -------------------- ------------------- 1/2 [html5lib]
   -------------------- ------------------- 1/2 [html5lib]
   -------------------- ------------------- 1/2 [html5lib]
   -------------------- ------------------- 1/2 [html5lib]
   -------------------- ------------------- 1/2 [html5lib]
   ---------------------------------------- 2/2 [html5lib]

Successfully installed html5lib-1.1 webencodings-0.5.1

In [32]:
import pandas as pd

url = "https://en.wikipedia.org/wiki/List_of_countries_by_population_(United_Nations)"

tables = pd.read_html(
    url,
    storage_options={
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
    }
)

df = tables[0]
df.head()
##pd.read_html(url,match="Asia",header=0)

,Country or territory,Population (1 July 2022),Population (1 July 2023),Change (%),UN continental region[1],UN statistical subregion[1]
0,World,8021407192,8091734930,+0.88%,–,–
1,India,1425423212,1438069596,+0.89%,Asia,Southern Asia
2,China[a],1425179569,1422584933,−0.18%,Asia,Eastern Asia
3,United States,341534046,343477335,+0.57%,Americas,Northern America
4,Indonesia,278830529,281190067,+0.85%,Asia,South-eastern Asia

In [ ]:
"""20.0_numpy_intro.ipynb

df_excel=pd.read_excel('data.xlsx)

df_excel.to_pickle('df_excel)

KeyError: 0

In [ ]:
pd.read