Standard Library overview 

Python's standard library is a vast collection of modules and packages that come bundled with python , providing a wide range of functionalities out of the box . here's an overview of some of the most commenly used modules and packages standard library .

In [1]:
import array
arr=array.array('i',[1,2,3,4])
print(arr)

array('i', [1, 2, 3, 4])

In [2]:
import math
print(math.sqrt(64))
print(math.pi)

8.0
3.141592653589793

In [3]:
#random 
import random 
print(random.randint(1,10))
print(random.choice(['apple','banana','cherry']))

4
apple

In [4]:
##File and directory access 
import os 
print(os.getcwd())

c:\DATA_SCIENCE_ML_NLP\18_Modules_packaging

In [5]:
os.mkdir('test_dir')

In [6]:
#High level operations on files and collection of files 
import shutil
shutil.copyfile('source.txt','destination.txt')

'destination.txt'

In [7]:
###Data serialization
import json
data={'name':'deepak','age':25}
json_str=json.dumps(data)
print(json_str)

print(type(json_str))
parsed_data=json.loads(json_str)
print(parsed_data)
print(type(parsed_data))

{"name": "deepak", "age": 25}
<class 'str'>
{'name': 'deepak', 'age': 25}
<class 'dict'>

In [8]:
##Csv 
import csv
with open('example.csv',mode='w',newline='') as file:
    writer=csv.writer(file)
    writer.writerow(['name','age'])
    writer.writerow(['deepak',26])

with open('example.csv',mode='r') as file:
    reader=csv.reader(file)
    for row in reader:
        print(row)

['name', 'age']
['deepak', '26']

In [9]:
##datetime 
from datetime import  datetime,timedelta
now=datetime.now()
print(now)

yesterday=now-timedelta(days=1)
print(yesterday)

2026-01-22 19:57:23.352747
2026-01-21 19:57:23.352747

In [10]:
##time 
import time 
print(time.time())
time.sleep(3)
print(time.time())

1769092086.8421953
1769092089.8438547

In [ ]:
##regulaar expression 
import re
pattern=r'\d+'
text='There are 123 apples 456'
match=re.search(pattern,text)
print(match.group())

123