SMOTE(Synthetic Minority Oversampling Technique)

SMOTE(synthetic Minority over sampling Technique ) is technique used in machine learning to adress imbalanced datasets where the minority class has singnificantly fewer instances than the majority class. SMOTE involves generating synthetic instances of the minority class by interpolating between existing instances.

An imbalanced dataset in data science occurs when classification classes are not equally represented, with one "majority class" significantly outnumbering the "minority class". This skew causes machine learning models to become biased towards the majority class, resulting in high overall accuracy but poor predictive performance on the critical, underrepresented minority class. 
Key Characteristics & Examples

    Definition: The distribution of target class labels is uneven, often seen in binary, multi-class, or multi-label scenarios.
    Real-world Examples: Fraud detection (99% legitimate, 1% fraudulent), disease diagnosis (rare diseases), and industrial anomaly detection.
    Causes: Natural distribution of data or biases in data collection. 

Impact on Machine Learning

    Biased Models: Algorithms, such as decision trees and logistic regression, favor the majority class, often ignoring the minority class.
    Misleading Accuracy: A model can achieve 99% accuracy by only predicting the majority class, failing to detect the actual event (e.g., fraud).
    Poor Generalization: The model fails to learn the characteristics of the minority class, leading to low recall and F1-score. 

Techniques to Handle Imbalanced Data

    Resampling Techniques:
        Undersampling: Removing instances from the majority class to balance the data.
        Oversampling: Increasing the number of minority class instances, such as through SMOTE (Synthetic Minority Over-sampling Technique).
    Algorithm-Level Adjustments:
        Class Weights: Assigning higher penalties to misclassifying the minority class during training.
        Ensemble Methods: Using algorithms like Balanced Random Forest, which combine bagging/boosting with resampling.
    Evaluation Metrics: Instead of accuracy, use metrics suitable for imbalance:
        Precision and Recall
        F1-Score
        Area Under the Precision-Recall Curve (AUC-PR). 

Key Considerations

    Imbalance Ratio: The severity of the imbalance dictates the approach; ratios higher than 90-10 or 95-5 usually require intervention.
    Cost Sensitivity: In many cases, incorrectly predicting the minority class (e.g., missing a cancer diagnosis) is more costly than a false positive on the majority class

In [ ]:

#steps 1 creation of imbalanced Dataframe 

import pandas as pd

# Create dataset
data = {
    "age": [22,25,47,52,46,56,55,60,30,28,35,40],
    "income": [25,30,80,90,70,85,88,95,40,38,50,60],
    "loan_default": [0,0,0,0,0,0,0,0,0,0,1,1]
}

df = pd.DataFrame(data)
df

    age  income  loan_default
0    22      25             0
1    25      30             0
2    47      80             0
3    52      90             0
4    46      70             0
5    56      85             0
6    55      88             0
7    60      95             0
8    30      40             0
9    28      38             0
10   35      50             1
11   40      60             1

In [ ]:
#Class Distribution cheking 

df['loan_default'].value_counts()

loan_default
0    10
1     2
Name: count, dtype: int64

In [3]:
df_majority = df[df['loan_default'] == 0]
df_minority = df[df['loan_default'] == 1]

print(df_majority.shape)
print(df_minority.shape)

(10, 3)
(2, 3)

In [4]:
from sklearn.utils import resample

df_minority_upsampled = resample(
    df_minority,
    replace=True,               # duplicate allowed
    n_samples=len(df_majority), # majority ke barabar
    random_state=42
)

In [7]:
df_balanced = pd.concat([df_majority, df_minority_upsampled])
df_balanced['loan_default'].value_counts()

loan_default
0    10
1    10
Name: count, dtype: int64

What is SMOTE?
SMOTE stands for
ðŸ‘‰ Synthetic Minority Over-sampling Technique.

It is a data-level technique used in data science & machine learning to handle imbalanced datasets by creating new synthetic samples for the minority class.


Why SMOTE is Needed?

Traditional oversampling:

Duplicates minority data

Causes overfitting

SMOTE:

Does NOT copy

Creates new, realistic data points

imple One-Line Definition

SMOTE increases the number of minority class samples by generating synthetic data points using existing minority samples and their nearest neighbors.

new_point = P1 + random Ã— (P2 âˆ’ P1)


new_age    = 35 + 0.6 Ã— (40 âˆ’ 35)
           = 35 + 3
           = 38

new_income = 50 + 0.6 Ã— (60 âˆ’ 50)
           = 50 + 6
           = 56


New point lies between existing points, not a duplicate.

In [9]:
import pandas as pd

df = pd.DataFrame({
    "study_hours": [1,2,3,4,5,6,7,8,9,10, 2,3],
    "attendance": [40,45,50,55,60,65,70,75,80,85, 42,48],
    "result":     [0,0,0,0,0,0,0,0,0,0, 1,1]
})

df

    study_hours  attendance  result
0             1          40       0
1             2          45       0
2             3          50       0
3             4          55       0
4             5          60       0
5             6          65       0
6             7          70       0
7             8          75       0
8             9          80       0
9            10          85       0
10            2          42       1
11            3          48       1

In [10]:
df['result'].value_counts()

result
0    10
1     2
Name: count, dtype: int64

In [11]:
X = df.drop('result', axis=1)
y = df['result']

In [14]:
from imblearn.over_sampling import SMOTE

smote = SMOTE(random_state=42, k_neighbors=1)
X_res, y_res = smote.fit_resample(X, y)

y_res.value_counts()

# #Important Rule (EXAM GOLD â­)

# SMOTE tabhi kaam karta hai jab minority samples > k_neighbors

result
0    10
1    10
Name: count, dtype: int64