SQL and SQLite 

SQL (Structured Query Language ) is standard language of managigng and manipulating relational databases. SQlite is a self contained , serverless and zero configuration database engine that is widely used for embeddded datbase systems. In this lesson , we will cover the basics of sql and sqlite , inclding crating databases, tables and performing various sql operations.

In [1]:
import sqlite3

In [3]:
##connect to an SQLite database 
connection=sqlite3.connect('example.db')
connection

In [4]:
cursor=connection.cursor()

In [5]:
cursor.execute('''
CREATE TABLE IF NOT EXISTS employees (
    emp_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    age INTEGER,
    department TEXT,
    salary REAL
)
''')

##commmmit the changes
connection.commit()

In [6]:
cursor.execute(
    '''
    select * from employees
    '''
)

In [9]:
##insert data teh sqlite table 
cursor.execute('''
Insert Into employees(name,age,department)

values('Deepak',26,'Data science')

''')
cursor.execute('''
Insert Into employees(name,age,department)

values('smith',26,'healthcare')

''')
cursor.execute('''
Insert Into employees(name,age,department)

values('Sumit',32,'Finance')

''')

##connection 
connection.commit()

In [10]:
##Query the data from the table 

cursor.execute('select*from employees')

In [12]:
rows=cursor.fetchall()

##Print the queried data 
for row in rows:
    print(row)

In [14]:
cursor.execute(
    '''
    UPDATE employees
    SET age=23
    where name="rajan" 
    '''
)

In [16]:
##delete the data form teh table 

cursor.execute('''
Delete from employees where name='Deepak'


''')

In [18]:
##working with sales data 
#connect to an sqllite database 
connection=sqlite3.connect('saledata.db')
cursor=connection.cursor()

#create a table for sales data
cursor.execute(
    '''
    CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT)
    '''
)

In [19]:
sales_data = [
    ('2025-01-16', 'Mobile', 12, 'South'),
    ('2025-01-17', 'Tablet', 6, 'East'),
    ('2025-01-18', 'Laptop', 4, 'West'),
    ('2025-01-19', 'Headphones', 20, 'North')
]

cursor.executemany(
    '''
    INSERT INTO sales (date, product, sales, region)
    VALUES (?, ?, ?, ?)
    ''',
    sales_data
)

connection.commit()

In [20]:
 connection.close()